<article class="tarjeta-proyecto" (click)="ejecutarProyecto($event)" style="cursor: pointer;">
  <!-- 1. La imagen principal del proyecto para que entre por los ojos. -->
  <div class="imagen-tarjeta">
    <img [src]="project.image" [alt]="project.title">
  </div>

  <div class="contenido-tarjeta">
    <!-- 2. Mis etiquetas dinámicas. Aquí pinto las categorías como píldoras. -->
    <div class="etiquetas">
      <span class="etiqueta-tech" *ngFor="let cat of project.categorias">
        {{ cat }}
      </span>
    </div>

    <!-- 3. Título del Proyecto: Nombre principal del trabajo -->
    <h3>{{ project.title }}</h3>

    <!-- 4. Descripción breve: Texto explicativo del proyecto -->
    <p>
      {{ project.description }}
    </p>

    <!-- 5. Pie de la tarjeta: Aquí pongo el enlace a los detalles.
         Uso stopPropagation() para que no se abra la demo al pinchar aquí. -->
    <div class="autor">
      <div class="avatar">
        <img src="assets/images/GitHub.png" alt="GitHub icon">
      </div>
      <a [routerLink]="['/projects', project.id]" class="link-detalle" (click)="$event.stopPropagation()">
        {{ project.textolink || 'Ver detalles' }}
      </a>
    </div>
  </div>
</article>