<section class="pagina-upload">
    <div class="contenedor-centrado">
        <h1>Sube proyectos</h1>
        <h2>a nuestra plataforma</h2>

        <form>
            <!-- Nombre Proyecto -->
            <div class="grupo-input">
                <label for="nombreProyecto">Nombre del proyecto</label>
                <input type="text" id="nombreProyecto" name="nombreProyecto">
            </div>

            <!-- Link Github -->
            <div class="grupo-input">
                <label for="linkGithub">Link a github</label>
                <input type="text" id="linkGithub" name="linkGithub">
            </div>

            <!-- Url Proyecto -->
            <div class="grupo-input">
                <label for="urlProyecto">Url proyecto</label>
                <input type="text" id="urlProyecto" name="urlProyecto">
            </div>

            <!-- Nombre Centro -->
            <div class="grupo-input">
                <label for="nombreCentro">Nombre del centro</label>
                <input type="text" id="nombreCentro" name="nombreCentro">
            </div>

            <!-- Botón Subir -->
            <div class="contenedor-boton">
                <button type="submit" class="boton-primario">
                    SUBIR PROYECTO
                </button>
            </div>
        </form>
    </div>
</section>